.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fox-search {
  color: #fff;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  padding: 0.5rem;
  font-size: 1.75rem;
  font-weight: bold;
  margin-bottom: 1rem;

  &::placeholder {
    color: #ddd;
  }
}

.fox-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}

.fox-link {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.2s ease-in-out;

  background-color: #515151;
  border: 2px solid #808080;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 1.5;
  white-space: nowrap;
  cursor: pointer;

  &:hover {
    text-decoration: none;

    background-color: #808080;
    border: 2px solid #515151;
  }
}
